.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.gallery-item:hover {
  transform: scale(1.025);
}
